<div class="login-form">
  <h1>Войти</h1>

  <div class="row">
    <div class="col-md-4">
      <div
        *ngIf="invalidEmailOrAndPassword"
        class="alert alert-danger invalid-email-or-and-password-alert"
        role="alert"
      >
        Invalid email or/and password.
        Неправильный email или/и пароль.
        <button
          type="button"
          class="close close-invalid-email-or-and-password-alert"
          (click)="closeInvalidEmailOrAndPasswordAlert()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="loginUser(f.value)" #f="ngForm">
        <div class="form-group">
          <label for="">Email</label>
          <input
            ngModel
            #email="ngModel"
            name="email"
            type="email"
            class="form-control"
            required
            pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
          />
          <div
            class="alert alert-danger"
            *ngIf="email.touched && email.invalid"
          >
            <div *ngIf="email.errors!['required']">Необходимо ввести email</div>
            <div *ngIf="email.errors!['pattern']">
              Пожалуйста введите правильный email
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Пароль</label>
          <input
            #password="ngModel"
            ngModel
            name="password"
            type="password"
            class="form-control"
            required
          />
          <div
            class="alert alert-danger"
            *ngIf="password.touched && password.invalid"
          >
            <div *ngIf="password.errors!['required']">Необходимо ввести пароль</div>
          </div>
        </div>
        <button [disabled]="!f.valid" class="btn btn-primary">Войти</button>
      </form>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Нету учетной записи? Зарегистрируйтесь</p>
      <a class="btn btn-primary" routerLink="/sign-up-asp">Регистрация</a>
    </div>
  </div>
</div>
