<div class="row">
  <div class="col-md-3">
    <h1>Order: #{{ orderId }}</h1>
    <p>Customer Name: {{ customerName }}</p>
    <p>Date Placed: {{ datePlaced * 1000 | date }}</p>
    <p>Address Line 1: {{ addressLine1 }}</p>
    <p>Address Line 2: {{ addressLine2 }}</p>
    <p>City: {{ city }}</p>
  </div>
  <div class="col-md-9">
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderItem of orderItems">
          <td>
            <div
              [style.backgroundImage]="'url(' + orderItem.imageUrl + ')'"
              class="thumbnail"
              alt=""
            ></div>
          </td>
          <td>{{ orderItem.title }}</td>
          <td>{{ orderItem.price | currency }}</td>
          <td>{{ orderItem.quantity }}</td>
          <td>{{ orderItem.price * orderItem.quantity | currency }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{ orderPrice | currency }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
