<div class="row">
  <div class="col-md-3">
    <h1>Заказ: #{{ orderId }}</h1>
    <p>Имя заказчика: {{ customerName }}</p>
    <p>Дата оформления: {{ datePlaced * 1000 | date }}</p>
    <p>Улица: {{ addressLine1 }}</p>
    <p>Дом, квартира: {{ addressLine2 }}</p>
    <p>Город: {{ city }}</p>
  </div>
  <div class="col-md-9">
    <table class="table">
      <thead>
        <tr>
          <th>Изображение</th>
          <th>Название</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Итоговая цена</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderItem of orderItems">
          <td>
            <div
              [style.backgroundImage]="'url(' + orderItem.imageUrl + ')'"
              class="thumbnail"
              alt=""
            ></div>
          </td>
          <td>{{ orderItem.title }}</td>
          <td>{{ orderItem.price | currency }}</td>
          <td>{{ orderItem.quantity }}</td>
          <td>{{ orderItem.price * orderItem.quantity | currency }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{ orderPrice | currency }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
